.btn {
  width: 190px;
  padding: 10px;
  display: block;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  background-color: inherit;
  border: 1px solid var(--accent-color);
  cursor: pointer;
  box-shadow: 0 0 3px var(--accent-color);
  transition: background-color 0.5s ease 0s;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
@media screen and (min-width: 480px) {
  .btn{
    width: 240px;
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (min-width:1260px) {
  .btn{
    width: 280px;
    padding: 12px;
    font-size: 22px;
    line-height: 1.17;
  }
}