.btn {
  width: 190px;
  padding: 10px;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  background-color: inherit;
  border: 1px solid var(--accent-color);
  cursor: pointer;
  transition-duration: 250ms;
  &:hover,
  &:focus {
    @extend %transition;
  }
}
@media screen and (min-width: 480px) {
  .btn{
    width: 240px;
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (min-width:1260px) {
  .btn{
    width: 280px;
    padding: 12px;
    font-size: 24px;
    line-height: 1.17;
  }
}