// .container__slider{
//     position: relative;
// }

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Точки (булиты) */
.slick-dots {
    display: flex;
    justify-content: center;
}
.slick-dots{
    display: flex;
    gap: 25px;
}
.slick-dots li {
    list-style: none;
    @media screen and (min-width: 1260px) {
        display: flex;
        align-items: center;
        }
}

/* Активная точка */
.slick-dots li.slick-active button {
    background-color: var(--accent-color);
    
}

/* Элемент точки */
.slick-dots li button {
    width: 15px;
    height: 15px;
    font-size: 0;
    line-height: 0;
    border-radius: 50%;
    border: 1px solid var(--accent-color);
    background-color: #fff;
    @media screen and (min-width: 1260px) {
        width: 20px;
        height: 20px;
    }
}

.container__slider .slick-slide{
    display: flex;
    justify-content: center;
}
