.title{
    position: relative;
    font-size: 56px;
    line-height: 88px;
    color: #E2AB3F;
}
.title span {
    position: absolute;
    bottom: 0;
    font-family: 'Roboto Condensed';
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.25;

    color: #000000;
}
@media screen and (min-width: 768px) {
    .title{
        font-size: 76px;
        line-height: 108px;
    }
    .title span {
        font-size: 20px;
        line-height: 1.2;
    }
}
@media screen and (min-width: 1260px) {
    .title {
        font-size: 96px;
        line-height: 128px;
    }
    .title span {
        font-size: 24px;
        line-height: 28px;
    }
}
