body {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    color: var(--main-text-color);
    background-color: var(--main-background);
    margin: 0;
}

h1, h2{
    font-family: 'Balqis';
}
a{
    color: inherit;
}
