.footer{
    height: 1180px;
    background-image: url('../../img/Contacts/Contacts-1x.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 140px;
    }
}
.footer__contacts{
    position: relative;
    &-box{
        position: absolute;
        top: 75px;
        text-align: center;
        &-title{
            font-weight: 300;
            font-size: 86px;
            line-height: 115px;
            margin-bottom: 30px;
        }
        &-link{
            margin-bottom: 20px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            font-size: 18px;
            line-height: 21px;
            color: inherit;
        }
        &-link svg{
            fill: var(--accent-color);
        }
        &-list{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
        }
        &-item{
            width: 30px;
            height: 30px;
        }
    }
}
.footer__contacts-text{
    font-family: 'Balqis';
    font-size: 86px;
    line-height: 115px;
}