.container__route{
    display: flex;
}
.route__box{
    width: 600px;
    &-title{
        margin-bottom: 100px;
    }
    &-title span{
        left: 240px;
    }
    &-list-item{
        margin-bottom: 50px;
        &-text{
            margin-bottom: 20px;
        }
    }
}
.slider{
    width: 570px;
}