.wonderland__title{
    margin-bottom: 100px;
}
.wonderland__title span{
    left: 210px;
}
.wonderland__container{
    display: flex;
}
.container__slider{
    width: 570px;
}
.container__descr{
    width: 600px;
    padding: 45px 0 45px 55px;
}
.descr__text,
.descr__list,
.descr__list li:nth-child(5){
    margin-bottom: 50px;
}
.descr__title{
    margin-bottom: 50px;
}