.wonderland__title {
    margin-bottom: 20px;
}
.wonderland__title span {
    left: 110px;
}
.container__descr {
    margin-bottom: 30px;
}
.descr__text,
.descr__list,
.descr__list li:nth-child(5) {
    margin-bottom: 20px;
}
.descr__title {
    margin-bottom: 20px;
}
.wonderland__slider {
    width: 100%;
}
.wonderland__slider-item-img {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 480px) {
.wonderland__title span {
    left: 130px;
}
.wonderland__title {
    margin-bottom: 30px;
}
.wonderland__slider-item-img {
    height: 305px;
}
}

@media screen and (min-width: 768px) {
    .wonderland__title{
        margin-bottom: 50px;
    }
    .wonderland__title span{
        left: 170px;
    }
    .descr__text,
    .descr__list,
    .descr__list li:nth-child(5){
        margin-bottom: 30px;
    }
    .descr__title{
        margin-bottom: 30px;
    }
    .wonderland__slider-item-img {
        height: 516px;
    }
}

@media screen and (min-width: 1260px) {
.wonderland__title{
    margin-bottom: 100px;
}
.wonderland__title span{
    left: 210px;
}
.wonderland__container{
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.container__descr{
    width: 600px;
    padding: 45px 0 45px 55px;
    margin-bottom: 0;
}
.descr__text,
.descr__list,
.descr__list li:nth-child(5){
    margin-bottom: 50px;
}
.descr__title{
    margin-bottom: 50px;
}
.wonderland__slider{
    position: absolute;
    left: -360px;
    width: 960px;
}
.wonderland__slider ul {
    transform: rotate(90deg);
    position: absolute;
    bottom: 50%;
    right: -1%;
}
.wonderland__slider-item-img {
    width: 960px;
    height: 700px;
}
}