@font-face{
	font-family: gilroy;
	font-display: swap;
	src: url("../fonts/gilroy-regular.woff2") format("woff2"), url("../fonts/gilroy-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: nunito;
	font-display: swap;
	src: url("../fonts/nunito-regular.woff2") format("woff2"), url("../fonts/nunito-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: mon;
	font-display: swap;
	src: url("../fonts/mon-amour-regular.woff2") format("woff2"), url("../fonts/mon-amour-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
